.title-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.title-box input {
    align-self: center;
    width: 94%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.NoteBox {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    max-width: 700px;
    margin: auto;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.text-box textarea {
    align-self: center;
    width: 90%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 200px;
}

.sec-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.user-id {
    flex: 1;
}

.user-id input {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 1rem;
}

.save-btn {
    display: flex;
    align-items: center;
}

.save-btn button {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 6px;
    background-color: #1877f2;
    color: white;
    cursor: pointer;
    box-shadow: 1px 2px 8px rgba(24, 119, 242, 0.1);
    font-weight: bold;
    transition: 0.3s;
}

.save-btn button:hover {
    background-color: #145db2;
    transform: scale(1.1);
}