.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f5f5f5;
}

.header-left .home-icon {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.header-left img{
    max-width:40px;
    max-width: 40px;
}

.header-left .home-icon:hover {
  transform: scale(1.1);
}

.header-right {
  display: flex;
  gap: 1.5rem;
}

.header-link {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  transition: 0.3s;
}

.header-link:hover {
  transform: scale(1.1);
}
